body { 
       font-family: verdana, arial, serif sans; 
       font-size: 11px; 
       background-color: #FFFFFF;
       margin: 30px;
}

div, p , h1 , h2 , h3 , h4 , h5 , ul , ol , img {
    margin: 0px; padding: 0px; color: #000000; 
}
a { text-decoration: none; }
.clear {
    width: 100%;
    height: 1px;
    line-height: 1px;
    clear: both;
}
#contentHolder h1 , #contentHolder h2 , #contentHolder h3 , #contentHolder h4 , #contentHolder h5 , #contentHolder p { margin: 10px 0; }

#pageWrapper , #footer1 , #footer2 {
    width: 960px;
    min-height: 600px;
    margin: 0px auto;
    position: relative;
}

#footer1 , #footer2 {
     color: #FFF; padding: 10px; width: 940px;
}
#footer1 { height: 166px; min-height: 166px; float: none; background-color: #6E6E6E; }
#footer2 { height: 191px; min-height: 191px; float: none; background-color: #424242; }

#leftFrame , #rightFrame {
    width: 296px;
    float: left;
    min-height: 600px;
}

#leftFrame {
    background-color: #B8B8B8;
}

#rightFrame {
    padding: 0px;
    width: 663px;
    min-height: 600px;
}

#topLeftContent {
    width: 260px;
    height: 50px;
    margin: 36px 0px 0px 26px;
}

#contactDetails {
    width: 440px;
    margin-left: 203px;
    height: 50px;
}

#contactTel , #contactEmail {
    color: #DA9E08;
    width: 220px;
    float: left;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    text-align: right;
}

.blackText { color: #000; }

#mainNavigation {
    width: 659px;
    height: 47px;
    background-color: #000;
    margin-left: 4px;
}

#mainNav { list-style-type: none; }

#mainNav li {
    float: left;
    margin: 6px 10px 7px;
    height: 34px;
}

#mainNav li a {
    height: 14px;
    padding: 10px 15px;
    display: block;
    color: #FFF;
}

#mainNav li a:hover , #mainNav li a.current {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #DA9E08;
    color: #000;
}

#imageHolder {
    width: 944px;
    height: 351px;
    position: absolute;
    z-index: 500px;
    top: 97px;
    left: 10px;
}

#contentHolder , #contactForm {
    margin-top: 352px;
}

#contentHolder {
    background-color: #EEE;
    min-height: 400px;
    padding: 10px;
    width: 643px;
}

#contactForm {
    width: 262px;
    height: 291px;
    padding: 10px;
    margin-left: 13px;
    background-color: #373737;
    color: #FFF;
}

#welcomeHolder {
    background-color: #DEDEDE;
    width: 623px;
    padding: 10px;
}